
.bg{
    background-color: aliceblue;
    height:100vh;
    background-size:cover ;

}

.signin-card{
    background-color:grey;
    color:black;
    padding:5vh;
    width:25vw;
    height:50vh;
    margin-top:25vh;
    border-radius: 25px;
    padding-bottom:10px;
}
.iarea{
    margin:10px;
}
.but{
    margin-top:50px;
    text-align:center;

}
.btn{
    width:136px;
}